.accordion{
    width: 100%;    
    overflow: hidden;
    transition: 0.3s all;
    margin:0 10px 40px;
    border-radius: 2px;
    @media screen and (max-width: 767px){
        margin: 0 10px 20px;
        height: fit-content;
    }
    .specialists__wrap_photo img  {
        transform: scale(1);
        transition: 1.3s all;
    }
    &:hover {
        .specialists__wrap_photo img {
            transform: scale(1.3);
        }
    }
    &_open{
        height: fit-content!important;    
    }
    &__item-main{
        display: flex;
        flex-direction: row;
        background: $light-brown;
        cursor: pointer;
        position: relative;
        background: #F7F2EF;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__item-main-description{
        width: 70%;
        padding: 22px 0 22px 22px;
        h5{
            text-align: left;
        }
        p{
            @include adaptive-fonts(14, 10);
            color: #686563;
            @include fontz (21px, normal, normal);
            margin-top: 2px;
            @media screen and (max-width: 768px){
                line-height: 15px;
                width: 85%;
            }
        }
    }
    &__open-btn{
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translate(0, -50%);
        transition: 0.3s all;
        &_active{
            transform: translate(0, -50%) rotate(180deg);
        }
    }
    &__item-second{
        border-top: 1px solid #DFD8D4;
        padding: 20px 13px 35px 12px;
        transition: 0.3s all;
        background: #F7F2EF;
        display: none;
        >:nth-child(1){
            @include fontz (18px, 500, normal);
            font-size: 13px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #726364;
            margin-bottom: 8px;
        }
        >:nth-child(2){
            font-size: 13px;
            @include fontz (21px, normal, normal);
        }
        &_open{
            display: block;
        }
    }
}