.advantages{
    background: $light-brown;
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__first-item{
        width: 23%;
        font-size: 38px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        @include fontz (42px, normal, normal);
        @media screen and (max-width: 767px){
            display: none;
        }
    }
    &__mobile-title{
        display: none;
        @media screen and (max-width: 767px){
            display: block;
            font-size: 30px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            @include fontz (38px, normal, normal);
            text-align: center;
            margin-bottom: 26px;
        }
    }
}
.advantages-item{
    background: #F7F2EF;
    border-radius: 2px;
    padding: 50px 33px 10px 24px;
    width: 23%;
    height: 320px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 30px;
    @media screen and (max-width: 1100px){ 
        width: 100%;
    }
    @media screen and (max-width: 767px){
        margin-bottom: 20px;
        width: 80%;
        height: 360px;
        padding: 16px 20px 10px 20px;
    }
    &:hover{
        .advantages-item__img{
            margin: -160px 0 30px;
        }
        .advantages-item__title{
            margin-bottom: 12px;
        }
    }
    &__img{
        transition: 0.5s all;
    }
    &__title{
        @include fontz (24px, normal, normal);
        font-size: 20px;
        margin-bottom: 70px;
        transition: 0.1s all;
        font-family: 'FontsFree', sans-serif;
        margin-top: 14px;
        @media screen and (max-width: 767px){
            margin-bottom: 12px;
        }
    }
    &__description{
        @include fontz (21px, normal, normal);
        font-size: 14px;
        color: #686563;
        transition: 0.1s all;

    }
}
.owl-carousel .owl-stage{
    padding-left: 10px!important;
    padding-right: 10px!important;
}