.coming-soon{
    position: relative;
    background: $light-brown;
    h3{
        letter-spacing: 0.01em;
    }
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 32px;
    }
    &__item{

    }
    .pos-element__pos-right{
        top: 91px;
        img{
            width: auto;
            height: 430px;
        }
        @media screen and (max-width: 768px){
            display: none;
        }
    }
}
.coming-soon-item{
    position: relative;
    width: 49%;
    margin-bottom: 50px;
    @media screen and (max-width: 768px){
        width: 100%;
        overflow: hidden;
    }
    img{
        width: 100%;
        @media screen and (max-width: 768px){
            width: auto;
        }
    }
    &__content{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFFFFF;
        width: 69%;
    }
    p{
        width: 84%;
        font-size: 14px;
        text-align: center;
        color: $light-brown;
        @include fontz (21px, normal, normal);
        margin: 12px auto 30px;
        @media screen and (max-width: 767px){
            margin: 12px auto 20px;
            width: 71%;
            // color: $Brown-subheader-color;
        }
    }
}