
header{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
    &__logo{
        @media screen and(max-width: 767px){
            width: 52px;
        }
        img{
            width: 100%;
            max-width: 50px;
        }
    }
    &__link{
        @include fontz (15px, normal, normal);
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        position: relative;
        margin-left: 30px;
        // transition: 0.3s all;
        &:hover{
            &:after{
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background: $fonts-color;
                bottom: -3px;
                left: 0;
            }
        }
        @media screen and(max-width: 767px){
            margin-left: 30px;
        }
        @media screen and(max-width: 374px){
            margin-left: 10px;
            font-size: 12px;
        }
    }
    .menu {
        display: flex;
        li {
            position: relative;
            height: 30px;
            line-height: 30px;
            &:hover {
                .sub-menu {
                    display: block;
                }
            }
        }
    }
    .sub-menu {
        top: 30px;
        position: absolute;
        left: 30px;
        width: fit-content;
        background: #fff;
        padding: 5px 10px;
        border: 1px solid rgba(0,0,0,0.1);
        display: none;
        z-index: 1;
        &:hover {
            display: block;
        }
        li {
            margin: 5px 0;
            a:hover {
                color: #CB5050;
            }
        }
    }
}
.unauthorized{
    display: flex;
    &__get-started{
        width: 110px;
        margin-left: 30px;
        display: inline-block;

        @media all and (max-width: 767px) {
            margin-left: 0;
        }
    }
    &_disabled{
        display: none;
    }
}
.authorized{
    display: none;
    &_active{
        display: flex;
    }
}
.stiky-btn {
    display: inline-block;
    @media all and (max-width: 767px) {
        position: fixed;
        width: 100%;
        margin: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        background: #fff;
        padding: 15px 10px;
        box-sizing: border-box;
        z-index: 2;
        display: none;
        button {
            width: 315px;
        }
    }
    &__show {
        display: block;
    }
}