.quick-view{
    display: none;
    min-width: 720px;
    z-index: 6;
    height: 90vh;
    overflow: auto;

    &.all-courses {
        display: block;
        height: 100%;
        overflow: visible;
        @media screen and (max-width: 1100px){
            min-width: unset;
        }
    }
    @media screen and (max-width: 1100px){
        min-width: 620px;
    }
    &_open{
        display: block;
    }
    &__container{
        padding: 0 37px 33px 38px;
    }
    &__title-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__title-p{
        @include fontz (18px, 500, normal);
        font-size: 13px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $Brown-subheader-color;
    }
    .video-wrap{
        position: relative;
        height: 200px;
        width: 100%;
        &__play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__date-wrap{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__date-container{
        display: none;
    }
    &__date{
        @include fontz (19px, normal, normal);
        font-size: 12px;
        color: $body-font-color;
        margin-left: 13px;
        text-transform: uppercase;
    }
    .banner-block__img-purchased{
        padding: 4px 16px 4px 29px;
    }
    &__description{
        >:nth-child(2){
            @include fontz (21px, 400, normal);
            font-size: 14px;
            margin: 12px 0 20px;
            color: $Brown-subheader-color;
        }
    }
    .course{
        &__wrap{
            margin: 12px 0 45px;
        }
        .course-item{
            background: #F7F2EF;
            border-radius: 2px;
            padding: 23px 20px 15px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            >:nth-child(1){
                width: 26%;
                position: relative;
                img{
                    width: 100%;
                }
            }
            .video-blocked{
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                &disabled{
                    display: none;
                }
            }
            &__title-wrap{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }
            &__content{
                width: 70%;
            }
            &__title{
                @include fontz (22px, normal, normal);
                font-size: 16px;
                font-family: 'FontsFree', sans-serif;
            }
            &__description{
                @include fontz (20px, normal, normal);
                font-size: 13px;
                color: #5B5B5B;
                margin: 10px 0 14px;
                width: 80%;
                overflow: hidden;
                -webkit-line-clamp: 2; 
                display: -webkit-box; 
                -webkit-box-orient: vertical; 
            }
            .progress-block{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                .progress-block__progress{
                    width: 70%;
                    .progress-block__progress-result_start{
                        width: 0;
                    }
                }
                .progress-block__result-title{
                    font-size: 12px;
                    margin-bottom: 0;
                    &_green{
                        color: #719487;
                    }
                }
            }
        }
    }
    .specialists{
        &__wrap-content{
            @media screen and (max-width: 2000px){
                margin: 20px 0 40px;
            }
        }
        .specialists__item-main{
            background: #F7F2EF;
        }
        &__item{
            @media screen and (max-width: 2000px){
                width: 100%;
                margin-bottom: 17px;
                height: 84px;
            }
        }
        &__item-main-description{
            @media screen and (max-width: 2000px){
                width: 100%;
                padding: 11px 0 11px 11px;
            }
            p{
                @media screen and (max-width: 2000px){
                    line-height: 15px;
                    width: 85%;
                }
            }
        }
        &__mobile-open-btn{
            @media screen and (max-width: 2000px){
                display: block;
            }
        }
        .pos-element__pos-right{
            @media screen and (max-width: 2000px){
                display: none;
            }
        }
    }
    .accordion_default{
        margin: 0 0 13px 0;
       & .accordion{
            &__item-main{
                >:nth-child(1){
                    width: 11%;
                }
            }
            &__item-main-description {
                padding: 16px 20px 18px 19px;
                width: 89%;
                h5{
                    font-size: 16px;
                    line-height: 24px;
                }
                p{
                    font-size: 11px;
                    line-height: 14px;
                }
            }
            &__item-second{
                padding: 20px 13px 35px 20px;
            }
        }
    }
    hr{
        margin: 30px 0 20px;
    }
    .questions{
        .accordion_default{
            & .accordion{
                &__item-main-description{
                    padding: 13px 20px;
                    width: 100%;
                    span{
                        margin-right: 5px;
                    }
                }
                &__item-second{
                    padding: 13px 20px;
                    > :nth-child(1){
                        font-size: 13px;
                        @include fontz (21px, normal, normal);
                        text-transform: inherit;
                    }
                }
            }
        }
        .accordion_open{
            height: fit-content;
        }
        .specialists__wrap-content {
            margin-bottom: 0;
        }
    }
    
}
.quick-view_authorized{
    & .quick-view{
        &__date-container{
            display: block;
        }
        &__title-wrap{
            button{
                display: none;
            }
        }
    }
}